body{
    font-family: 'Roboto', sans-serif;
    color: #75B79E;
    background-color: #EEF9BF;
    text-align: center;
}
h1{
    margin: 40px 0;
    font-size: 56px;
}
img{
    width: 100%;
    
}

.tabuleiro{
    height: 100%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.carta{
    width: 117px;
    height: 146px;
    position: relative;
    margin: 17px 17px;
}
.layout{
     width: 100%;
        height: 100%;
        background-color: #A7E9AF;
        border-radius: 10px;
        box-shadow: 1px 1px 1px rgba(0,0,0,.3);
        
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        backface-visibility: hidden;
        transition: all .5s;
        transform-style: preserve-3d;
}
.verso-invisivel{
    transform: rotateY(180deg) ;
}

.carta .verso{
    transform: rotateY(0deg) ;
}

.carta .frente{
    transform: rotateY(-180deg) ;
}





