body{
    font-family: 'Roboto', sans-serif;
    color: #75B79E;
    background-color: #EEF9BF;
    text-align: center;
}
h1{
    margin: 40px 0;
    font-size: 56px;
}
img{
    width: 100px;
    height: 100px;
}

.tabuleiro{
    height: 100%;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.carta{
    background: #A7E9AF;
    width: 117px;
    height: 146px;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 17px 17px;
    border: 1px solid #A7E9AF;
    backface-visibility: visible;
}

.selecionado{
    background: #00E9AF;
}
